<md-sidenav-container>
  
  <md-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
    <app-side-bar></app-side-bar>
    <!--md-list>
      <md-list-item>Item 1</md-list-item>
      <md-list-item>Item 2</md-list-item>
      <md-list-item>Item 3</md-list-item>
    </md-list-->

  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    Exemplos Angular
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
 <md-card>
  <div class="container">
    <app-formulario></app-formulario>
     <!--form #heroForm="ngForm"  *ngIf="active"  (ngSubmit)="onSubmit()">
       <foton-input fxFlex hero="hero"
          placeholder="Nome">
        </foton-input> 

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" id="alterEgo" class="form-control"
               name="alterEgo"
               [(ngModel)]="hero.alterEgo" >
      </div>

      <div class="form-group">
        <label for="power">Hero Power</label>
        <select id="power" class="form-control"
                name="power"
                [(ngModel)]="hero.power" required
                #power="ngModel" >
          <option *ngFor="let p of powers" [value]="p">{{p}}</option>
        </select>

        <div *ngIf="power.errors && power.touched" class="alert alert-danger">
          <div [hidden]="!power.errors.required">Power is required</div>
        </div>
      </div>

      {{heroForm.form.valid}}
      <button type="submit" class="btn btn-default"
             [disabled]="!heroForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default"
             (click)="addHero()">New Hero</button>
    </form-->

    <!-- Coluna 1 -->
    <!--div fxLayout="row">
        <foton-input fxFlex
          placeholder="Nome">
        </foton-input> 
        <foton-input fxFlex="30%"
          placeholder="Identidade" >
        </foton-input> 
        <foton-input fxFlex="20%"
          placeholder="Rg" >
        </foton-input> 
    </div>
    <div fxLayout="row">
      <foton-input fxFlex="100%"
          placeholder="Cpf" >
        </foton-input> 
    </div>
    <div fxLayout="row">
        <foton-input fxFlex
          placeholder="Data Nascimento" >
        </foton-input> 
        <foton-input fxFlex
          placeholder="Xpto" >
        </foton-input> 
        <foton-input fxFlex
          placeholder="Xpto" >
        </foton-input> 
    </div-->
  </div>


 
 

</md-card>
</md-sidenav-container>